const std = @import("std");

const py = @import("alloconda");

pub const MODULE = py.module("Alloconda module stub.", .{
    .hello = py.function(hello, .{
        .doc = "Echo back the provided name.",
        .args = &.{"name"},
    }),
});

fn hello(name: []const u8) []const u8 {
    return name;
}
